<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/nav") %>
    <h1>Show Specific Movie Page</h1>
    <div>
       <div>
        <img src="<%= movie.movieImg %>">
       </div>
       <div>
        <p>Title: <%= movie.title %></p>
        <p>Direcrtor: <%= movie.director %></p>
        <p>Actors: <%= movie.actors %></p>
        <p>Running Time: <%= movie.runningTime %></p>
        <p>Genre: <%= movie.genre %></p>
        <p>Rating: <%= movie.rating %></p>
        <p>Released: <%= movie.releaseYear %></p>
       </div>
    </div>
    <a href="/movies/<%= movie._id %>/edit">Edit Movie</a>
    <div>
        <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
            <button type="submit">Delete Movie</button>
        </form>
    </div>
</body>
</html>